small {
  color: grey;
}

.message-input, .code-input {
  font-size: 1.5em;
}

.code-table {
  border: 1px solid grey;
  border-collapse: collapse;
  border-radius: 5px;
}

.note {
  font-size: 0.7em;
  color: grey;
}
